[defaults]
inventory = inventory
stdout_callback = default
result_format = yaml
connection = smart
timeout = 60
deprecation_warnings = False
host_key_checking = False
allow_world_readable_tmpfiles = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
