[defaults]
inventory = inventory
roles_path = roles
stdout_callback = default
result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
connection = smart
timeout = 60
deprecation_warnings = False
host_key_checking = False
allow_world_readable_tmpfiles = True
[ssh_connection]
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
become_flags = -H -S
